:root {
  --color-heading: #fefff5;
  --color-button: #22eba5;
  --color-header: #101028;
  --color-secondary: grey;
  --color-placeholder: #292d4a;
  --color-secondarytext: #bdbfcc;
  --color-body: #000000;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0%; /*these will remove extra margin space given by the browser*/
  padding: 0%;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.4rem;
  background-color: var(--color-header);
}
/*main div of the page*/
.main {
  height: auto;
  padding: 1rem 0;
}
/*----------------------------------------------------------------------------------------------*/
/* main header of our html*/
.header {
  display: flex;
  margin: 0rem 29vw;
  flex-wrap: wrap;
  justify-content: space-between;
}
/*----------------------------------------------------------------------------------------------*/
/*heading of our html*/
h1 {
  color: var(--color-heading);
  font-size: 2.5rem;
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3.5rem;
  }
}
/*heading end*/
/*----------------------------------------------------------------------------------------------*/
/*it will group every element of the html*/
/*buttons*/
.btn {
  font-family: "Ub untu", sans-serif;
  background-color: var(--color-button);
  border: 0;
  outline: 0;
  border-radius: 40px;
  cursor: pointer;
}
/*----------------------------------------------------------------------------------------------*/
/*button clear*/
.btnclear {
  transition: 0.2s;
  margin: 1rem 1rem;
  padding: 1rem 1.5rem;
  font-size: 1rem;
}
.btnclear:hover {
  background-color: #079664;
}
/*----------------------------------------------------------------------------------------------*/
/*button Add task*/
.btn-Add {
  transition: 0.2s;
  font-size: 1rem;
  margin: 2rem 0;
}
.btn-Add:hover {
  background-color: #079664;
}

.btn-streached {
  padding: 1rem 0;
  margin-left: 1rem;
  margin-right: 2.8rem;
}
/*----------------------------------------------------------------------------------------------*/
/*btbtns or bottom buttons*/
.btbtns {
  margin: 0rem 31vw;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 0.5rem 0.5vw;
}
@media screen and (min-width: 1024px) {
  .btbtns {
    font-size: 1.3rem;
  }
}

/*button All used for showing all task*/
.btn-All {
  transition: 0.2s;
  padding: 1rem 1vw;
  font-size: 1.1rem;
}
.btn-All:hover {
  background-color: #079664;
}

/*button Completed  used for showing completed task*/
.btn-completed {
  transition: 0.2s;
  padding: 1rem 1vw;
  font-size: 1.1rem;
}
.btn-completed:hover {
  background-color: #079664;
}

/*button Uncompleted used for show uncompleted task*/
.btn-uncompleted {
  transition: 0.2s;
  padding: 1rem 1vw;
  font-size: 1.1rem;
}
.btn-uncompleted:hover {
  background-color: #079664;
}

/*button for desktop version */
@media screen and (min-width: 1024px) {
  .btn {
    margin: 2.5rem 0;
  }
  .btnclear {
    margin: 2rem 2rem;
    padding: 1rem 3rem;
    font-size: 1.2rem;
  }
  .btn-Add {
    font-size: 1.3rem;
    margin: 3rem 1rem;
  }
  .btn-All {
    font-size: 1.3rem;
    padding: 1rem 3.5vw;
  }
  .btn-completed {
    font-size: 1.3rem;
    padding: 1rem 4.5vw;
  }
  .btn-uncompleted {
    font-size: 1.3rem;
    padding: 1rem 3.5vw;
  }
  .btn-streached {
    margin-left: 1rem;
    margin-right: 3rem;
  }
}
/*----------------------------------------------------------------------------------------------*/
/*container inputs*/
.container {
  color: var(--color-heading);
  margin: 0rem 30vw;
  display: flex;
  flex-direction: column;
  background-color: var(--color-header);
}
/*input*/
.input {
  background-color: var(--color-placeholder);
  color: var(--color-secondarytext);
  font-family: "Ubuntu", sans-serif;
  border: 0;
  outline: 0;
  border-radius: 40px;
  font-size: 1.2rem;
  margin-right: 3rem;
  margin-left: 1.2rem;
  padding: 0.8rem;
}
/*labels*/
.label {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
/*placeholder*/
::placeholder {
  font-family: "Ubuntu", sans-serif;
  color: var(--color-secondarytext);
  font-size: 1rem;
  padding: 1rem;
}

@media screen and (min-width: 1024px) {
  .label {
    font-size: 1.8rem;
  }
  ::placeholder {
    font-size: 1.2rem;
  }
  .input {
    font-size: 1.5rem;
  }
}
/*----------------------------------------------------------------------------------------------*/
/* list*/
.list-group {
  margin: 0 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-item {
  list-style: none;
  width: 33vw;
  display: inline-flex;
  justify-content: space-between;
  color: var(--color-heading);
  margin-bottom: 2rem;
  margin-right: 5rem;
  padding: 2rem 2rem;
  font-size: 1.2rem;
  border-radius: 8px;
  background-color: var(--color-placeholder);
}
/*----------------------------------------------------------------------------------------------*/
/* TODO Styling */
.task-container {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  border-left: 2px solid var(--color-button);
}
.task {
  font-size: 1.8rem;
  padding-left: 2rem;
}
.Importance {
  font-size: 1.2rem;
  padding-left: 2rem;
  margin-top: 0.5rem;
  color: var(--color-secondarytext);
}
/*----------------------------------------------------------------------------------------------*/
/*list icons*/
.icons {
  display: flex;
  justify-content: right;
  width: 10rem;
  align-items: center;
}
.fa-trash-alt {
  color: var(--color-body);
  background-color: var(--color-button);
  border-radius: 100px;
  padding: 1rem;
  transition: 0.2s;
}
.fa-check {
  color: var(--color-body);
  background-color: var(--color-button);
  border-radius: 100px;
  padding: 1rem;
  margin-right: 1rem;
  transition: 0.2s;
}

.fa-trash-alt:hover {
  background-color: #079664;
}
.fa-check:hover {
  background-color: #079664;
}
.lined {
  text-decoration: line-through;
  color: var(--color-heading);
}
